<template name="home">
	<div class="ui middle aligned stackable grid container stuff">
      <div class="row stuff">
      	<div class="eight wide column">
          <img src="logo.png" class="ui large bordered rounded image autoMargin">
        </div>
        <div class="eight wide column">
          <h3 class="ui header">Project Central</h3>
          <p>We can give your group superpowers to do things that they never thought possible. </p>
          <p>Let us delight your clients and module leaders...through scheduling and automation.</p>
          <h3 class="ui header">We Make Bananas That Can Dance</h3>
          <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
        </div>
      </div>
    </div>
</template>