<head>
  <title>Project Central</title>
</head>

<template name="app">
    <div class="ui vertical masthead segment">
        {{>menu}}
        {{> Template.dynamic template=main}} 
    </div>
    {{>footer}}
</template>

<template name="footer">
    <div class="ui vertical footer segment">
        <div class="ui container">
            <p>Project Central - Platform for managing year 2 group projects at Cardiff University</p>
            <p>Demo Developed by Georgi Marinov</p>
            <p>December, 2018</p>
        </div>
    </div>
</template>

<template name="notFound">
    <div class="ui text container">
        <h1 class="ui dividing header">Still working on that...</h1>
    </div>
</template>
