<template name="menu">
        <div class="ui container">
            <div class="ui large secondary pointing menu">
                <a class="toc item"><i class="sidebar icon"></i></a>
                <a href="/" class="item">Home</a>
                <a href="/projects" class="item">Projects</a>
                <a href="/Schedule" class="item">Schedule</a>
                <div class="right item">
                <a href="/logout"  class="ui button">Logout</a>
                </div>
            </div>
        </div>
</template>
