<template name="menu">
        <div class="ui container">
            <div class="ui large secondary pointing menu">
                <a class="toc item"><i class="sidebar icon"></i></a>
                <a href="/" class="item">Home</a>
                {{#if currentUser}}
                    {{#each name in availableTabs}}
                        <a href="/{{name}}" class="item">{{name}}</a>
                    {{/each}}
                {{/if}}
                <div class="right item">
                {{>loginButtons}}
                <!--<a href="/login"  class="ui button">Login</a>-->
                </div>
            </div>
        </div>
</template>
