.masthead.segment {
  min-height: 70vh;
  padding: 5vh 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
.footer.segment {
  min-height: 20vh;
  padding: 5vh 0em;
}
.stuff {
  margin-top: 3em !important;
}
a, a:hover {
  color: inherit;
}
img {
  height: 100%;
  width: 100%;
}
td {
  height:10em;
  width: 10em;
}
.row {
  margin-top: 0.8em !important;
}

.autoMargin {
  margin: auto !important;
}

.verticalGrid {
  height: 100%;
}
.columnLogin {
  max-width: 450px;
}