<template name="contribution">
<div class="ui two column relaxed middle aligned stackable grid container stuff">
  <div class="column">
  <h3 class="ui dividing header">Group 6</h3>
    <table class="ui right aligned table">
      <thead>
        <th class="left aligned">Person</th>
        <th>Hours claimed</th>
        <th>Approved</th>
        <th>Hours total</th>
      </thead>
      <tbody>
        <tr>
          <td class="left aligned">Delmar</td>
          <td>36</td>
          <td class="negative">No</td>
          <td>20</td>
        </tr>
        <tr>
          <td class="left aligned">Louise</td>
          <td>24</td>
          <td class="negative">No</td>
          <td>29</td>
        </tr>
        <tr>
          <td class="left aligned">Terrell</td>
          <td>22</td>
          <td class="negative">No</td>
          <td class="warning">9</td>
        </tr>
        <tr>
          <td class="left aligned">Marion</td>
          <td>7</td>
          <td>Yes</td>
          <td>30</td>
        </tr>
        <tr>
          <td class="left aligned">Clayton</td>
          <td>7</td>
          <td>Yes</td>
          <td>20</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
  <h3 class="ui dividing header">Group 9</h3>
    <table class="ui right aligned celled table">
      <thead>
        <th class="left aligned">Person</th>
        <th>Hours claimed</th>
        <th>Approved</th>
        <th>Hours total</th>
      </thead>
      <tbody>
        <tr>
          <td class="left aligned">Drema</td>
          <td>15</td>
          <td class="negative">No</td>
          <td class="warning">8</td>
        </tr>
        <tr>
          <td class="left aligned">Nona</td>
          <td>11</td>
          <td class="positive">Yes</td>
          <td>16g</td>
        </tr>
        <tr>
          <td class="left aligned">Isidra</td>
          <td>34</td>
          <td class="positive">Yes</td>
          <td class="warning">11g</td>
        </tr>
        <tr>
          <td class="left aligned">Bart</td>
          <td>41</td>
          <td class="negative">No</td>
          <td class="positive">30g</td>
        </tr>
        <tr class="selected">
          <td class="left aligned">Nguyet</td>
          <td>41</td>
          <td class="positive">Yes</td>
          <td class="positive">28g</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</template>