<template name="coursework">
<div class="ui center aligned grid middle aligned verticalGrid stuff">

<div class="ui segment">
          <div class="ui relaxed divided list">
            <div class="item stuff">
              <div class="content">
                <h2 class="header">Coursework not submitted</h2>
              </div>
            </div>
            <div class="field item stuff">
			 	<div class="ui action file input">
			 		<label for="file">Upload file..</label>
			 		<input type="file" id="file">
					<label for="file" class="ui icon button"><i class="attach icon"></i></label>
			 	</div>
			</div>
          </div>
        </div>
</div>
</template>