<template name="schedule">
<div class="ui two column relaxed middle aligned stackable grid container stuff">
  <div class="column">
    <table class="ui right aligned table">
      <thead>
        <th class="left aligned">Person</th>
        <th>Calories</th>
        <th>Fat</th>
        <th>Protein</th>
      </thead>
      <tbody>
        <tr>
          <td class="left aligned">Delmar</td>
          <td>36</td>
          <td>36g</td>
          <td>2g</td>
        </tr>
        <tr>
          <td class="left aligned">Louise</td>
          <td>24</td>
          <td>24g</td>
          <td>29g</td>
        </tr>
        <tr>
          <td class="left aligned">Terrell</td>
          <td>22</td>
          <td>11g</td>
          <td>9g</td>
        </tr>
        <tr>
          <td class="left aligned">Marion</td>
          <td>7</td>
          <td>35g</td>
          <td>3g</td>
        </tr>
        <tr>
          <td class="left aligned">Clayton</td>
          <td>7</td>
          <td>38g</td>
          <td>20g</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
    <table class="ui right aligned celled table">
      <thead>
        <th class="left aligned">Person</th>
        <th>Calories</th>
        <th>Fat</th>
        <th>Protein</th>
      </thead>
      <tbody>
        <tr>
          <td class="left aligned">Drema</td>
          <td class="positive">15</td>
          <td class="negative">26g</td>
          <td class="warning">8g</td>
        </tr>
        <tr class="positive">
          <td class="left aligned">Nona</td>
          <td>11</td>
          <td>21g</td>
          <td>16g</td>
        </tr>
        <tr class="negative">
          <td class="left aligned">Isidra</td>
          <td>34</td>
          <td>43g</td>
          <td>11g</td>
        </tr>
        <tr class="warning">
          <td class="left aligned">Bart</td>
          <td>41</td>
          <td>40g</td>
          <td>30g</td>
        </tr>
        <tr class="selected">
          <td class="left aligned">Nguyet</td>
          <td>41</td>
          <td>44g</td>
          <td>28g</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</template>