<template name="tools">
    <div class="ui text container left aligned stuff">
        <div class="ui segment">
          <div class="ui relaxed divided list">
            <div class="item stuff">
            <i class="building icon rules"></i>
              <div class="content">
                <h2 class="header">IDE(s)</h2>
                Probably we wont have time to implement IDE as part of the system, but we can link to online ones such as<br>
                <a href="https://ideone.com/">ideone</a>
              </div>
            </div>
            <div class="item stuff">
            <i class="chess board icon rules"></i>
              <div class="content">
                <h2 class="header">UML, Diagrams & Graphs</h2>
                Again, we can link to online tools for diagrams and wireframes<br>
                <a href="https://draw.io/">draw.io</a><br>
                <a href="https://dbdesigner.net/">dbdesigner</a>
              </div>
            </div>
            <div class="item stuff">
            <i class="cut icon rules"></i>
              <div class="content">
                <h2 class="header">Task Management</h2>
                Will be included or linked later.
              </div>
            </div>
          </div>
        </div>
    </div>
</template>